{% extends 'base.html.twig' %}

{% block body %}

{% include "user/user_menu.html.twig" %}

	<div class="card-body">
		<div class="row">
			<div
				class="col-xl-6">
				<!-- Profile picture card-->
				<div class="card mb-4 mb-xl-0">
					<div class="card-header">
						Choisir un profil 
					</div>
					<div class="card-body">
						{% for user in users %}
							<a class="text-black p-2" href="{{ path('app_user_edit', {'id': user.id}) }}">{{user.lastname}} {{user.firstname}} ({{user.job}} - Dept : {{user.departement}})</a></br>
						{% endfor %}			
					</div>
				</div>
			</div>
			<div
				class="col-xl-6">
				<!-- Account details card-->
				<div class="card mb-4">
					<div class="card-header">Détails du profil</div>
					<div class="card-body">
						{{ include('user/_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="userDelete" tabindex="-1" aria-labelledby="userDeleteLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-danger-light">
					<h5 class="modal-title text-danger" id="userDeleteLabel">Confirmez-vous la suppression de :</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body text-center p-10">
					<span class="text-red">{{user.lastname}} {{user.firstname}}</span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer</button>
					<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
						<button class="btn btn-danger float-end">Supprimer</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascript %}
	 <script>
        $(document).ready(function() {
            $('.user_departement').select2();
        });
    </script>
{% endblock %}
